<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	
	<listeners>
		<listener class-name="utils.SuiteListeners"></listener>
	</listeners>
	
  <test thread-count="5" name="Test">
	  
    <classes>
      <class name="testcases.SingleProduct"/>
      <class name="testcases.SingleProduct_MultipleQuantity"/>
      <class name="testcases.MultiProduct"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
